@import 'partial';

* {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: blueviolet;
}

:fullscreen a {
  display: flex;
}

body {
  font-size: 13px;
  line-height: 23px;
  color: #666;
  background: #111;
  padding-top: 45px;
  -webkit-font-smoothing: antialiased;
}

form * {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
